@import "../../vars.css";
* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
/* Resume Scanner title */
.title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 10px;
}
/* Import your resume... */
.description {
  text-align: center;
  width: 70%;
  font-size: 30px; 
  margin-left: 15%;
}
/* white box for file container */
.container {
  display: flex;
  background-color: var(--color-primary);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 60%;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 20%;
}
/* drop box */
.dropArea {
  width: 100%;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}
/* the download img + drop here txt */
.fileView {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 2px dashed #bbb5ff;
  font-size: 25px;
  background-color: #f7f8ff;
  background-position: center;
  background-size: cover;
}
/* the download img */
.fileView img {
  display: flex;
  width: 100px;
  margin-top: 8%;
  margin-left: 45%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
}
/* white box for text container */
.textContainer {
  display: flex;
  background-color: var(--color-primary);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  border-radius: 7px;
  width: 60%;
  min-height: 10vh;
  color: var(--color-textGrey);
  justify-content: center;
  margin-top: 3%;
  margin-left: 20%;
}
/* text box */
.textArea {
  width: 97%;
  resize: vertical;
  min-height: 50px; /* dynamic height */
  margin: 15px;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 7px;
  font-size: 15px;
  box-sizing: border-box;
  overflow-y: auto; /* scroll bar */
}
/* smaller screen */
@media screen and (max-width: 830px) {
  .fileView img {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
}
